name: Sync to Project B

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to B
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"
          
          # 使用用戶名 + token 格式
          git remote add target https://luckygametools:${{ secrets.TARGET_REPO_TOKEN }}@github.com/luckygametools/luckygametools2.github.io.git
          
          git push target HEAD:main --force
